
.color-blue {
  color: #2c8ae2;
}

.color-black,
.color-item-black {
  color: #000000;
}

.color-gray,
.color-item-gray {
  color: #666666;
}

.color-green,
.color-item-green {
  color: #16aa2e;
}

.color-blue,
.color-item-blue {
  color: #2c8ae2;
}

.color-orange,
.color-item-orange {
  color: #e09927;
}

.color-red,
.color-item-red {
  color: #e21818;
}

.color-black,
.color-item-black {
  color: #000000;
}

.color-border-gray {
  border: 1px solid #666666;
}

.color-border-green {
  border: 1px solid #2dc446;
}

.color-border-blue {
  border: 1px solid #2c8ae2;
}

.color-border-orange {
  border: 1px solid #e09927;
}

.color-border-red {
  border: 1px solid #e21818;
}

.bg-white {
  background: #ffffff;
}

.bg-light {
  background: #f7f7f7;
}