.d-none {
  display: none !important;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inline-block {
  display: block;
}

.d-inline-flex {
  display: inline-flex;
}

.psr {
  position: relative;
}
.psa {
  position: absolute;
}
.psf {
  position: fixed;
}
